.page_section {
  color: #333;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  padding: 48px 20px;
  max-width: 600px;

  h2 {
    display: inline-block;
    font-weight: 900;
    font-size: 32px;
    line-height: 1;
    margin: 0 0 4px;
    vertical-align: top;
  }

  p {
    margin: 1em 0;
  }

  a {
    color: #1EA7FD;
    text-decoration: none;
  }

  ul {
    margin: 1em 0;
    padding-left: 30px;
  }

  li {
    margin-bottom: 8px;
  }

  .tip {
    background-color: #E7FDD8;
    border-radius: 1em;
    color: #66BF3C;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 12px;
    margin-right: 10px;
    padding: 4px 12px;
    vertical-align: top;
  }

  .tip_wrapper {
    font-size: 13px;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

    svg {
      display: inline-block;
      height: 12px;
      width: 12px;
      margin-top: 3px;
      margin-right: 4px;
      vertical-align: top;

      path {
        fill: #1EA7FD;
      }
    }
  }
}
