.icon {
  transition: transform 250ms linear;
  width: 28px;

  &:hover {
    transform: scale(1.5);
  }

  svg {
    width: 100%;
    height: auto;
  }
}

.feed_icon {
  width: 28px;

  svg {
    width: 100%;
    height: auto;
  }
}
