@import './variables';

.customfont_name {
  font-family: 'Merienda', sans-serif;
  font-weight: $font-weight-bold;
}

.customfont_role {
  font: $font-weight-regular 0.75rem 'Merienda', sans-serif;
}

.icon {
  width: 20px;

  svg {
    width: 100%;
    height: auto;
  }
}

.toggle_nav_button {
  border-radius: 50%;
  height: 50px;
  width: 50px;

  span {
    font-size: 1.5rem;
  }
}

.navbar {
  height: 100vh;
  width: 0;

  > div * {
    opacity: 0;
  }
}

@media screen and (max-width: 640px), (max-height: 570px), (orientation: portrait) {
  .navbar_display {
    position: fixed;
    width: 100vw;
  }

  .icon {
    width: 28px;
  }

  .toggle_nav_button {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}

@media screen and (min-width: 640px) and (min-height: 570px) and (orientation: landscape) {
  .navbar {
    transition: width 0.5s linear;

    > div * {
      transition: opacity 0.5s ease-out;
    }

    &_display {
      width: 130px;

      > div * {
        transition: opacity 1.5s ease-in;
      }
    }
  }

  .toggle_nav_button {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
}

.navbar_display {
  > div * {
    opacity: 1;
  }
}
