@use './variables' as *;

.customfont_name {
  font-family: Merienda, sans-serif;
  font-weight: $font-weight-bold;
}

.customfont_role {
  font: $font-weight-regular 0.75rem Merienda, sans-serif;
}

.icon {
  display: block;
  width: 20px;

  svg {
    width: 100%;
    height: auto;
  }
}

.toggle_nav_button {
  border-radius: 50%;
  height: 50px;
  width: 50px;

  span {
    border-radius: 3px;
    height: 3px;
    width: 22px;
    transition: all 0.2s linear;

    &:not(:first-child) {
      margin-top: 5px;
    }
  }
}

.top_bar {
  transform: translateY(8px) rotate(45deg);
}

.middle_bar {
  opacity: 0;
}

.bottom_bar {
  transform: translateY(-8px) rotate(-45deg);
}

.top_left_arrow {
  transform: translateY(-3px) rotate(-45deg);
}

.bottom_left_arrow {
  transform: translateY(3px) rotate(45deg);
}

.top_right_arrow {
  transform: translateY(-3px) rotate(45deg);
}

.bottom_right_arrow {
  transform: translateY(3px) rotate(-45deg);
}

.navbar {
  height: 100vh;
  width: 0;
}

.navlink {
  @include btn-border-drawing(#F3F4F6, black);
}

.navlink_dark {
  @include btn-border-drawing(#1F2937, white);
}

@media screen and (max-width: $screen-width-sm), (max-height: 570px), (orientation: portrait) {
  .navbar_display {
    position: fixed;
    width: 100vw;
  }

  .logo_section {
    width: 100vw;
  }

  .icon {
    width: 28px;
  }

  .toggle_nav_button {
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
}

@media screen and (min-width: $screen-width-sm) and (min-height: 570px) and (orientation: landscape) {
  .navbar {
    transition: width 0.5s linear;

    &_display, .logo_section {
      width: 130px;
    }
  }

  .toggle_nav_button {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
}
